/* General Container */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0000; /* Fondo oscuro */
  color: #ffffff; /* Texto principal */
}

/* Header */
.header {
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: center; /* Centrado completo */
  align-items: center;
  background-color: #0000; /* Fondo oscuro */
  margin-top: 2rem;
  padding: 1rem;

  h1 {
    font-size: 1.5rem;
    color: #ff4081; /* Rosa brillante */
    text-align: center; /* Asegura que el título esté centrado */
  }
}

/* Grid */


.grid-item {
  float: left;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  width: 30%;
  margin: 1%;
  

  &:hover {
    transform: scale(1.15);
    z-index: 10; /* Aumento del 15% en el hover */
  }

  &.large {
    grid-column: span 2;
    grid-row: span 2;
  }

  .grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(255, 64, 129, 0.3); /* Rosa brillante transparente */
      opacity: 1;
    }

    .favorite-btn {
      background-color: #0000; /* Fondo oscuro */
      border: none;
      border-radius: 50%;
      padding: 0.5rem;
      font-size: 1.5rem;
      color: #ff4081; /* Rosa brillante */
      transition: all 0.3s ease;

      &.active {
        color: #ffffff; /* Blanco */
        background-color: #ff4081; /* Rosa brillante */
      }

      &:hover {
        background-color: #ff4081; /* Rosa brillante */
        color: #ffffff; /* Blanco */
      }
    }
  }
}
