<header class="header p-6 ms-auto">
  <div class="container nav-menus">
    <h1 class="logo">MagicBooth</h1>
    <nav>
      <ul>
        <li><a href="#features">Características</a></li>
        <li><a href="#gallery">Galería</a></li>
        <li><a href="#testimonials">Testimonios</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a routerLink="/app/contact">Contactanos</a></li>
      </ul>
    </nav>
    <div class="nav-right">
      <ul class="nav-menus mb-0">
        <li class="profile-nav onhover-dropdown pe-0 py-0">
          <app-my-account></app-my-account>
        </li>
      </ul>
    </div>
  </div>
</header>