<div class="profile-edit-container">
  <div class="profile-card">
    <div class="profile-card-content">
      <div class="avatar-section">
        <!-- Vista previa de la imagen -->
        <img [src]="url" alt="Foto de perfil" class="avatar" />
        <button class="btn btn-outline btn-sm" (click)="triggerFileInput()">Cambiar foto</button>
        <!-- Input oculto para subir la imagen -->
        <input 
          type="file" 
          accept="image/*" 
          #fileInput 
          style="display: none;" 
          (change)="upload($event)" 
        />
      </div>
      <div class="form-grid">
        <div class="form-group">
          <label for="username"><i class="bi bi-person"></i> Nombre de usuario</label>
          <input type="text" id="username" placeholder="{{profileService.user$().name}} {{profileService.user$().lastname}}" />
        </div>
        <div class="form-group">
          <label for="email"><i class="bi bi-envelope"></i> Correo electrónico</label>
          <input type="email" id="email" placeholder="{{profileService.user$().email}}" />
        </div>
        <div class="form-group">
          <label for="phone"><i class="bi bi-phone"></i> Número de teléfono</label>
          <input type="tel" id="phone" placeholder="{{profileService.user$().photoUrl}}" />
        </div>
        <div class="form-group">
          <label for="address"><i class="bi bi-geo-alt-fill"></i> Dirección</label>
          <input type="text" id="address" placeholder="{{profileService.user$().address}}" />
        </div>
      </div>
      <div class="form-group">
        <label for="bio"> <i class="bi bi-file-earmark-text"></i> Biografía</label>
        <textarea id="bio" placeholder="Cuéntanos sobre ti..."></textarea>
      </div>
      <div class="form-group">
        <label for="role"><i class="bi bi-person-lines-fill"></i> Role</label>
        <input type="text" id="role" placeholder="{{profileService.user$().role?.name}}" />
      </div>
      <div class="form-group">
        <label for="lastUpdate"><i class="bi bi-hdd-stack"></i> Última actualización</label>
        <input type="text" id="lastUpdate" placeholder="{{profileService.user$().updatedAt | date:'dd/MM/YYYY'}}" />
      </div>
    </div>
  </div>
</div>
