<div class="login-container">    
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="login-card">
        <div class="w-100">
          <div class="text-center container-img">
            <img
              class="logo-innova"
              [src]="image?.url || 'assets/img/noImageFound.png'"alt="Imagen"
              alt="Primera imagen"
            />
          </div>
          <div class="image-size">
            <p>Nombre: {{image?.name}}
            <p>Fecha de creacion: {{ formattedDate }}</p>
            <p>Tamaño: {{ imageSize }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
