<div class="dashboard">

    <!-- Webcam and Controls Section -->
    <section class="features-section container py-5">
      <h2 class="section-title text-center mb-5">Captura y Personalización</h2>
      
      <div class="row justify-content-center">
        
        <!-- Webcam Section -->
        <div class="col-12 col-md-6 mb-4">
          <div class="webcam-container">
            <webcam [width]="videoWidth" [height]="videoHeight"
                    [trigger]="triggerObservable"
                    [videoOptions]="videoOptions"
                    (imageCapture)="handleImage($event)"
                    (initError)="handleInitError($event)"></webcam>
          </div>
        </div>
        
        <!-- Controls Section -->
        <div class="col-12 col-md-6">
          <div class="d-flex flex-column gap-3">
            <div class="d-grid gap-2">
              <button (click)="triggerSnapshot()">Tomar Foto</button>
              <button (click)="generateBackground()">Generar Fondo</button>
              <button (click)="generateTheme()">Generar Tema</button>
              <button (click)="generateAI()">Generar IA</button>
              <button (click)="downloadImage()">Descargar</button>
              <button (click)="shareImage()">Compartir</button>
            </div>
            <div class="dropdown mt-3">
              <label for="themeSelector" class="form-label">Seleccione el Tema:</label>
              <select id="themeSelector" class="form-select">
                <option value="old-west">Viejo Oeste</option>
                <option value="underwater">Debajo del Mar</option>
                <option value="space">Espacio Exterior</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Image Text Area -->
    <section class="container py-5">
      <div class="row">
        <div class="col-12">
          <textarea class="form-control" placeholder="Agrega texto aquí... (500 caracteres como mínimo)" maxlength="1000"></textarea>
        </div>
      </div>
    </section>
  
    <!-- Captured Images Gallery -->
    <section id="gallery" class="gallery-section container py-5">
      <h2 class="gallery-title text-center">Galería de Imágenes Capturadas</h2>
      <div class="row mt-4">
        <div class="col-4" *ngFor="let image of webcamImages; let i = index">
          <img [src]="image.imageAsDataUrl" class="img-fluid rounded mb-2" [alt]="'Imagen ' + (i + 1)"/>
        </div>
      </div>
    </section>
  
    <!-- Cropped Image Section -->
    <section class="container py-5" *ngIf="croppedImage">
      <h3 class="text-center">Imagen Recortada</h3>
      <div class="text-center">
        <img [src]="croppedImage" class="img-fluid rounded"/>
      </div>
    </section>
  
  
  </div>