<div class="camara">
  <section class="hero">
    <h2 class="section-title text-center mb-5">Captura y Personalización</h2>

    <div class="row justify-content-center">
      <div class="col-12 col-md-6 mb-4">
        <div class="d-block mx-auto mb-4">
          <webcam   [trigger]="triggerObservable"
                    [videoOptions]="videoOptions"
                    (imageCapture)="handleImage($event)"
                    (initError)="handleInitError($event)">
          </webcam>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-3 d-flex flex-column align-items-center gap-3 mb-4">
        <button type="button" (click)="triggerSnapshot()" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-camera2" viewBox="0 0 16 16">
            <path d="M5 8c0-1.657 2.343-3 4-3V4a4 4 0 0 0-4 4"></path>
            <path d="M12.318 3h2.015C15.253 3 16 3.746 16 4.667v6.666c0 .92-.746 1.667-1.667 1.667h-2.015A5.97 5.97 0 0 1 9 14a5.97 5.97 0 0 1-3.318-1H1.667C.747 13 0 12.254 0 11.333V4.667C0 3.747.746 3 1.667 3H2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h.682A5.97 5.97 0 0 1 9 2c1.227 0 2.367.368 3.318 1M2 4.5a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0M14 8A5 5 0 1 0 4 8a5 5 0 0 0 10 0"></path>
          </svg>
          Tomar Foto
        </button>

        
      </div>
    </div>
  </section>

  <section id="gallery" class="gallery-section">
    <h2 class="gallery-title text-center">Galería de Imágenes Capturadas</h2>
    <div class="row mt-4">
      <div class="col-4" *ngFor="let image of webcamImages; let i = index">
        <input type="text" [(ngModel)]="imageNames[i]" placeholder="Nombre de la imagen" class="form-control mb-2"/>
        <button (click)="downloadImage(image, imageNames[i])" class="btn btn-success">
          <i class="fas fa-download"></i>
          Descargar
        </button>
        <button (click)="uploadImage(image, imageNames[i])" class="btn btn-warning">
          <i class="fas fa-upload"></i>
          Subir
        </button>
        <img [src]="image.imageAsDataUrl" class="img-fluid rounded mb-2" [alt]="'Imagen ' + (i + 1)"/>
      </div>
      
    </div>
  </section>

  <section class="container" *ngIf="croppedImage">
    <h3 class="text-center">Imagen Recortada</h3>
    <div class="text-center">
      <img [src]="croppedImage" class="img-fluid rounded"/>
    </div>
  </section>
</div>
